// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.vh100 {
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
}

.file_link {
    max-width: calc(100vw - 60px);
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.social-icon {
    width: 35px;
    height: 35px;

    &__icon {
        font-size: 1.25rem;
    }
}

.footer__contacts {
    font-size: 1.15rem;
}

.footer__email {
    text-overflow: ellipsis;
    overflow: hidden;
}

.hidden_page {
    margin: auto;
    text-align: center;
    font-size: 1.35em;
}
